[submodule "opencl/api"]
	path = opencl/api
	url = https://github.com/rcn-ee/ti-opencl.git
[submodule "tidl/api"]
	path = tidl/api
	url = https://github.com/rcn-ee/tidl-api.git
[submodule "tidl/utils"]
	path = tidl/utils
	url = git://git.ti.com/tidl/tidl-utils.git
[submodule "qtui"]
	path = qtui
	url = git@github.com:NguyenTrongPhuc552003/qt-application-hexapod.git