[submodule "opencl/api"]
	path = opencl/api
	url = https://github.com/rcn-ee/ti-opencl.git
	branch = v01.02.00.02-bb.org
[submodule "tidl/api"]
	path = tidl/api
	url = https://github.com/rcn-ee/tidl-api.git
	branch = v01.04.00-bb.org
[submodule "tidl/utils"]
	path = tidl/utils
	url = git://git.ti.com/tidl/tidl-utils.git
	branch = master
[submodule "thesis"]
	path = thesis
	url = git@github.com:NguyenTrongPhuc552003/final-hexapod-thesis.git
	branch = main
