[submodule "opencl/api"]
	path = opencl/api
	url = https://github.com/NguyenTrongPhuc552003/ti-opencl.git
	branch = v01.02

[submodule "tidl/api"]
	path = tidl/api
	url = https://github.com/NguyenTrongPhuc552003/tidl-api.git
	branch = v01.04

[submodule "tidl/utils"]
	path = tidl/utils
	url = https://github.com/NguyenTrongPhuc552003/tidl-utils.git
	branch = master

[submodule "report/thesis"]
	path = report/thesis
	url = git@github.com:NguyenTrongPhuc552003/final-hexapod-thesis.git
	branch = CPG
